<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
          padding: 3px;
          text-align: center;
        }
        table tr:nth-child(even) {
          background-color: #94C2CD;
        }
        </style>

    </head>

    <body style="background-color:powderblue;">
        <div>
            <a href="/">Home Page</a>
            <a href="/Employees/">Employees</a>
        </div>
        <hr>
        <div>
            {% block content %}{% endblock %}
        </div>

        {% if messages %}
            <hr>
            {% for record in messages %}
                {{ record.message }}<br>
            {% endfor %}
        {% endif %}
    </body>
</html>