{% extends "employees/base.html" %}

{% block local_content %}
    <b>{{ table_name }}</b>
    <br><br>
    {% if objects %}
        <table>
            <tr>
                {{ column_headers }}
            </tr>
            {% for object in objects %}
            <tr>
                {{ object.html_table_row }}
                {% if object_id != object.id %}
                    <td><a href="{% url 'employees:edit_record' table_name=table_name object_id=object.id %}">
                        Edit</a></td>
                {% else %}
                    <td><span style="color: green;"><b>Edit</b></span></td>
                {% endif %}
                <td><a style="color: red;" href="{% url 'employees:del_record' table_name=table_name object_id=object.id %}">
                    Delete</a></td>
            </tr>
            {% endfor %}

        </table>
    {% endif %}

    {% if object_id %}
        <br>
        <b>Edit record:</b>
        <form action="{% url 'employees:edit_record' table_name=table_name object_id=object_id %}" method="post">
            {% csrf_token %}
            {{ form.as_ul }}
            <br>
            <input type="submit" value="Submit">
        </form>
    {% endif %}

    {% if new_record_flag %}
        <br>
        <b>Create new record:</b>
        <form action="{% url 'employees:new_record' table_name=table_name %}" method="post">
            {% csrf_token %}
            {{ form.as_ul }}
            <input type="submit" value="Submit">
        </form>
    {% else %}
        <br>
        <a href="{% url 'employees:new_record' table_name=table_name %}">Create new</a>
        <br>
    {% endif %}
    <br>
    <a href="{% url 'employees:export_csv' table_name=table_name %}">Export table</a>
    <br>
    {% if import_csv_flag %}
        <br>
        <form action="{% url 'employees:import_csv' table_name=table_name %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_ul }}
            <input type="submit" value="Submit">
        </form>
    {% else %}
        <br>
        <a href="{% url 'employees:import_csv' table_name=table_name %}">Import table</a>
    {% endif %}
{% endblock %}
